@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  padding: 50px;
}

header{
  border-bottom: 5px solid #616cff;
  padding: 10px 0;
  background-color: whitesmoke;
  border-radius: 1px;
  text-align: justify;
}

main{
  height: 1000px;
}


footer{
  background: #efefef;
  padding: 10px;
}
